body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background: #9797bd;  /* fallback for old browsers */


}
.center{
  text-align: center;
}
input#profile_pic
{
    color:white;
}
.chat
{
	height:580px;
  margin :2%;
  background-color: #d8d8ed;
	border:1px solid #ceceeb;
    font:16px/26px Georgia, Garamond,
        Serif;
    overflow:auto;
    display:flex; flex-direction:column-reverse;
}
label{
    color:black;
}

.topnav {
  overflow: hidden;
    background-color :#ceceeb;
    
}
.globalChatInput{
  text-align:center;
}
.chatPic
{
    margin-right:5px;
    margin-left:5px;
    width:52px;height:42px;
    
}

p
{
    color: #ffffe6;
}

.topnav .button {
  float: left;
  display: block;
  color: #363535;
  text-align: center;
  font-size: 26px;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}
.topnav .button:hover {
    background-color :#999494;
    transform: skew(-5deg);
  }

.login
{
    visibility: visible;
    float:right;
    margin:13px;
    
}
button{
    background-color:#638fc9;
  border: none;
  color: black;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
}
button:hover{
	
    background-color:#2a538a;
}
#nameUser
{
    color:black;
    margin-right:3px;
}
#logout
{
    display:inline-block;
   align-items: flex-end;
   margin:7px;
   text-align: center;
}
.logout
{
   display:block;
    float :right;
    margin:5px;
}
img#profilePicMembre
{
    width:255px;
    height:255px;
    
}

img#profilePicTop
{
    float:right;
    width:52px;height:42px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#titreSite
{
    color:black;
    text-align: center;
    font-size:9em;
}
#titreAideh1
{
    color:black;
    text-align: center;
    font-size:3em;
}
#titreAideh2
{
  color:black;
    text-align: center;
    font-size:1.5em;
}

.active {
  background-color:#373737;
  color: black;
}


.topnav .icon {
  display: none;
}
    .compte
{
    display: none; 
    position:absolute;
   
}
.signUp{
    text-align: center;
    margin:auto;
    width: 30%;
}
.signUp input{
    text-align: center;
    width: 100%;
}
.signUp input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .logout,.login
    {
        display:none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive .button {
      float: none;
      display: block;
      text-align: left;
    }
     .topnav.responsive form a{
       margin-left:10px;
      display: block;
      float: left;
    }
    .topnav.responsive form {
        float: left;
        display: block;
        text-align: left;
      }
  }

 table{
	width:98%;
	border-collapse: collapse;
 }
table, th, td {
    color:black;
    margin:1%;
	padding:0.5%;
	text-align: center;
}
/*
table, tr {
	border: 1px solid white;
}
*/
.grid-container {
  display: grid;
  grid-template-columns:  auto  ;
  
  padding: 10px;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
li a{
  text-decoration:none;
  color:black;
  font-size : 36px;
  border: 3px solid #ceceeb;
  padding :10px;
  border-radius: 25px;
  transition: 0.5s;
}
li{
  margin:50px;
  text-decoration:none;
  list-style:none;
  text-align: center;
}
li a:hover{
  background-color :#40406B;
}
.buttonPrivate{
    background-color:#638fc9;
  border: none;
  color: black;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
  float:right;
}
.buttonPrivate:hover{
    background-color:#638fc9;
}